@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap");

@font-face {
    font-family: 'Cera Pro';
    src: url("../fonts/CeraPro-Italic.eot");
    src: local("Cera Pro Italic"), local("CeraPro-Italic"), url("../fonts/CeraPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Italic.woff") format("woff"), url("../fonts/CeraPro-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url("../fonts/CeraPro-Regular.eot");
    src: local("Cera Pro Regular"), local("CeraPro-Regular"), url("../fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url("../fonts/CeraPro-Black.eot");
    src: local("Cera Pro Black Italic"), local("CeraPro-BlackItalic"), url("../fonts/CeraPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Black.woff") format("woff"), url("../fonts/CeraPro-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url("../fonts/CeraPro-Light.eot");
    src: local("Cera Pro Light"), local("CeraPro-Light"), url("../fonts/CeraPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url("../fonts/CeraPro-BoldItalic.eot");
    src: local("Cera Pro Bold Italic"), local("CeraPro-BoldItalic"), url("../fonts/CeraPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-BoldItalic.woff") format("woff"), url("../fonts/CeraPro-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url("../fonts/CeraPro-Medium.eot");
    src: local("Cera Pro Medium"), local("CeraPro-Medium"), url("../fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url("../fonts/CeraPro-Bold.eot");
    src: local("Cera Pro Bold"), local("CeraPro-Bold"), url("../fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url("../fonts/CeraPro-Thin.eot");
    src: local("Cera Pro Thin"), local("CeraPro-Thin"), url("../fonts/CeraPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Thin.woff") format("woff"), url("../fonts/CeraPro-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: "Montserrat", sans-serif;
}

.apexcharts-canvas {
    position: relative;
    user-select: none;
    /* cannot give overflow: hidden as it will crop tooltips which overflow outside chart area */
}


/* scrollbar is not visible by default for legend, hence forcing the visibility */
.apexcharts-canvas ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}

.apexcharts-canvas ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.apexcharts-inner {
    position: relative;
}

.apexcharts-text tspan {
    font-family: inherit;
}

.legend-mouseover-inactive {
    transition: 0.15s ease all;
    opacity: 0.20;
}

.apexcharts-series-collapsed {
    opacity: 0;
}

.apexcharts-tooltip {
    border-radius: 5px;
    box-shadow: 2px 2px 6px -4px #999;
    cursor: default;
    font-size: 14px;
    left: 62px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    z-index: 12;
    transition: 0.15s ease all;
}

.apexcharts-tooltip.apexcharts-active {
    opacity: 1;
    transition: 0.15s ease all;
}

.apexcharts-tooltip.apexcharts-theme-light {
    border: 1px solid #e3e3e3;
    background: rgba(255, 255, 255, 0.96);
}

.apexcharts-tooltip.apexcharts-theme-dark {
    color: #fff;
    background: rgba(30, 30, 30, 0.8);
}

.apexcharts-tooltip * {
    font-family: inherit;
}


.apexcharts-tooltip-title {
    padding: 6px;
    font-size: 15px;
    margin-bottom: 4px;
}

.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    background: #ECEFF1;
    border-bottom: 1px solid #ddd;
}

.apexcharts-tooltip.apexcharts-theme-dark .apexcharts-tooltip-title {
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #333;
}

.apexcharts-tooltip-text-value,
.apexcharts-tooltip-text-z-value {
    display: inline-block;
    font-weight: 600;
    margin-left: 5px;
}

.apexcharts-tooltip-text-z-label:empty,
.apexcharts-tooltip-text-z-value:empty {
    display: none;
}

.apexcharts-tooltip-text-value,
.apexcharts-tooltip-text-z-value {
    font-weight: 600;
}

.apexcharts-tooltip-marker {
    width: 12px;
    height: 12px;
    position: relative;
    top: 0px;
    margin-right: 10px;
    border-radius: 50%;
}

.apexcharts-tooltip-series-group {
    padding: 0 10px;
    display: none;
    text-align: left;
    justify-content: left;
    align-items: center;
}

.apexcharts-tooltip-series-group.apexcharts-active .apexcharts-tooltip-marker {
    opacity: 1;
}

.apexcharts-tooltip-series-group.apexcharts-active,
.apexcharts-tooltip-series-group:last-child {
    padding-bottom: 4px;
}

.apexcharts-tooltip-series-group-hidden {
    opacity: 0;
    height: 0;
    line-height: 0;
    padding: 0 !important;
}

.apexcharts-tooltip-y-group {
    padding: 6px 0 5px;
}

.apexcharts-tooltip-box, .apexcharts-custom-tooltip {
    padding: 4px 8px;
}

.apexcharts-tooltip-boxPlot {
    display: flex;
    flex-direction: column-reverse;
}

.apexcharts-tooltip-box > div {
    margin: 4px 0;
}

.apexcharts-tooltip-box span.value {
    font-weight: bold;
}

.apexcharts-tooltip-rangebar {
    padding: 5px 8px;
}

.apexcharts-tooltip-rangebar .category {
    font-weight: 600;
    color: #777;
}

.apexcharts-tooltip-rangebar .series-name {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.apexcharts-xaxistooltip {
    opacity: 0;
    padding: 9px 10px;
    pointer-events: none;
    color: #373d3f;
    font-size: 13px;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    background: #ECEFF1;
    border: 1px solid #90A4AE;
    transition: 0.15s ease all;
}

.apexcharts-xaxistooltip.apexcharts-theme-dark {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #fff;
}

.apexcharts-xaxistooltip:after,
.apexcharts-xaxistooltip:before {
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.apexcharts-xaxistooltip:after {
    border-color: rgba(236, 239, 241, 0);
    border-width: 6px;
    margin-left: -6px;
}

.apexcharts-xaxistooltip:before {
    border-color: rgba(144, 164, 174, 0);
    border-width: 7px;
    margin-left: -7px;
}

.apexcharts-xaxistooltip-bottom:after,
.apexcharts-xaxistooltip-bottom:before {
    bottom: 100%;
}

.apexcharts-xaxistooltip-top:after,
.apexcharts-xaxistooltip-top:before {
    top: 100%;
}

.apexcharts-xaxistooltip-bottom:after {
    border-bottom-color: #ECEFF1;
}

.apexcharts-xaxistooltip-bottom:before {
    border-bottom-color: #90A4AE;
}

.apexcharts-xaxistooltip-bottom.apexcharts-theme-dark:after {
    border-bottom-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-xaxistooltip-bottom.apexcharts-theme-dark:before {
    border-bottom-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-xaxistooltip-top:after {
    border-top-color: #ECEFF1
}

.apexcharts-xaxistooltip-top:before {
    border-top-color: #90A4AE;
}

.apexcharts-xaxistooltip-top.apexcharts-theme-dark:after {
    border-top-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-xaxistooltip-top.apexcharts-theme-dark:before {
    border-top-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-xaxistooltip.apexcharts-active {
    opacity: 1;
    transition: 0.15s ease all;
}

.apexcharts-yaxistooltip {
    opacity: 0;
    padding: 4px 10px;
    pointer-events: none;
    color: #373d3f;
    font-size: 13px;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    background: #ECEFF1;
    border: 1px solid #90A4AE;
}

.apexcharts-yaxistooltip.apexcharts-theme-dark {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #fff;
}

.apexcharts-yaxistooltip:after,
.apexcharts-yaxistooltip:before {
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.apexcharts-yaxistooltip:after {
    border-color: rgba(236, 239, 241, 0);
    border-width: 6px;
    margin-top: -6px;
}

.apexcharts-yaxistooltip:before {
    border-color: rgba(144, 164, 174, 0);
    border-width: 7px;
    margin-top: -7px;
}

.apexcharts-yaxistooltip-left:after,
.apexcharts-yaxistooltip-left:before {
    left: 100%;
}

.apexcharts-yaxistooltip-right:after,
.apexcharts-yaxistooltip-right:before {
    right: 100%;
}

.apexcharts-yaxistooltip-left:after {
    border-left-color: #ECEFF1;
}

.apexcharts-yaxistooltip-left:before {
    border-left-color: #90A4AE;
}

.apexcharts-yaxistooltip-left.apexcharts-theme-dark:after {
    border-left-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-yaxistooltip-left.apexcharts-theme-dark:before {
    border-left-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-yaxistooltip-right:after {
    border-right-color: #ECEFF1;
}

.apexcharts-yaxistooltip-right:before {
    border-right-color: #90A4AE;
}

.apexcharts-yaxistooltip-right.apexcharts-theme-dark:after {
    border-right-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-yaxistooltip-right.apexcharts-theme-dark:before {
    border-right-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-yaxistooltip.apexcharts-active {
    opacity: 1;
}

.apexcharts-yaxistooltip-hidden {
    display: none;
}

.apexcharts-xcrosshairs,
.apexcharts-ycrosshairs {
    pointer-events: none;
    opacity: 0;
    transition: 0.15s ease all;
}

.apexcharts-xcrosshairs.apexcharts-active,
.apexcharts-ycrosshairs.apexcharts-active {
    opacity: 1;
    transition: 0.15s ease all;
}

.apexcharts-ycrosshairs-hidden {
    opacity: 0;
}

.apexcharts-selection-rect {
    cursor: move;
}

.svg_select_boundingRect, .svg_select_points_rot {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}

.apexcharts-selection-rect + g .svg_select_boundingRect,
.apexcharts-selection-rect + g .svg_select_points_rot {
    opacity: 0;
    visibility: hidden;
}

.apexcharts-selection-rect + g .svg_select_points_l,
.apexcharts-selection-rect + g .svg_select_points_r {
    cursor: ew-resize;
    opacity: 1;
    visibility: visible;
}

.svg_select_points {
    fill: #efefef;
    stroke: #333;
    rx: 2;
}

.apexcharts-svg.apexcharts-zoomable.hovering-zoom {
    cursor: crosshair
}

.apexcharts-svg.apexcharts-zoomable.hovering-pan {
    cursor: move
}

.apexcharts-zoom-icon,
.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon,
.apexcharts-reset-icon,
.apexcharts-pan-icon,
.apexcharts-selection-icon,
.apexcharts-menu-icon,
.apexcharts-toolbar-custom-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    line-height: 24px;
    color: #6E8192;
    text-align: center;
}

.apexcharts-zoom-icon svg,
.apexcharts-zoomin-icon svg,
.apexcharts-zoomout-icon svg,
.apexcharts-reset-icon svg,
.apexcharts-menu-icon svg {
    fill: #6E8192;
}

.apexcharts-selection-icon svg {
    fill: #444;
    transform: scale(0.76)
}

.apexcharts-theme-dark .apexcharts-zoom-icon svg,
.apexcharts-theme-dark .apexcharts-zoomin-icon svg,
.apexcharts-theme-dark .apexcharts-zoomout-icon svg,
.apexcharts-theme-dark .apexcharts-reset-icon svg,
.apexcharts-theme-dark .apexcharts-pan-icon svg,
.apexcharts-theme-dark .apexcharts-selection-icon svg,
.apexcharts-theme-dark .apexcharts-menu-icon svg,
.apexcharts-theme-dark .apexcharts-toolbar-custom-icon svg {
    fill: #f3f4f5;
}

.apexcharts-canvas .apexcharts-zoom-icon.apexcharts-selected svg,
.apexcharts-canvas .apexcharts-selection-icon.apexcharts-selected svg,
.apexcharts-canvas .apexcharts-reset-zoom-icon.apexcharts-selected svg {
    fill: #008FFB;
}

.apexcharts-theme-light .apexcharts-selection-icon:not(.apexcharts-selected):hover svg,
.apexcharts-theme-light .apexcharts-zoom-icon:not(.apexcharts-selected):hover svg,
.apexcharts-theme-light .apexcharts-zoomin-icon:hover svg,
.apexcharts-theme-light .apexcharts-zoomout-icon:hover svg,
.apexcharts-theme-light .apexcharts-reset-icon:hover svg,
.apexcharts-theme-light .apexcharts-menu-icon:hover svg {
    fill: #333;
}

.apexcharts-selection-icon,
.apexcharts-menu-icon {
    position: relative;
}

.apexcharts-reset-icon {
    margin-left: 5px;
}

.apexcharts-zoom-icon,
.apexcharts-reset-icon,
.apexcharts-menu-icon {
    transform: scale(0.85);
}

.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon {
    transform: scale(0.7)
}

.apexcharts-zoomout-icon {
    margin-right: 3px;
}

.apexcharts-pan-icon {
    transform: scale(0.62);
    position: relative;
    left: 1px;
    top: 0px;
}

.apexcharts-pan-icon svg {
    fill: #fff;
    stroke: #6E8192;
    stroke-width: 2;
}

.apexcharts-pan-icon.apexcharts-selected svg {
    stroke: #008FFB;
}

.apexcharts-pan-icon:not(.apexcharts-selected):hover svg {
    stroke: #333;
}

.apexcharts-toolbar {
    position: absolute;
    z-index: 11;
    max-width: 176px;
    text-align: right;
    border-radius: 3px;
    padding: 0px 6px 2px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apexcharts-menu {
    background: #fff;
    position: absolute;
    top: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px;
    right: 10px;
    opacity: 0;
    min-width: 110px;
    transition: 0.15s ease all;
    pointer-events: none;
}

.apexcharts-menu.apexcharts-menu-open {
    opacity: 1;
    pointer-events: all;
    transition: 0.15s ease all;
}

.apexcharts-menu-item {
    padding: 6px 7px;
    font-size: 12px;
    cursor: pointer;
}

.apexcharts-theme-light .apexcharts-menu-item:hover {
    background: #eee;
}

.apexcharts-theme-dark .apexcharts-menu {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

@media screen and (min-width: 768px) {
    .apexcharts-canvas:hover .apexcharts-toolbar {
        opacity: 1;
    }
}

.apexcharts-datalabel.apexcharts-element-hidden {
    opacity: 0;
}

.apexcharts-pie-label,
.apexcharts-datalabels,
.apexcharts-datalabel,
.apexcharts-datalabel-label,
.apexcharts-datalabel-value {
    cursor: default;
    pointer-events: none;
}

.apexcharts-pie-label-delay {
    opacity: 0;
    animation-name: opaque;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.apexcharts-canvas .apexcharts-element-hidden {
    opacity: 0;
}

.apexcharts-hide .apexcharts-series-points {
    opacity: 0;
}

.apexcharts-gridline,
.apexcharts-annotation-rect,
.apexcharts-tooltip .apexcharts-marker,
.apexcharts-area-series .apexcharts-area,
.apexcharts-line,
.apexcharts-zoom-rect,
.apexcharts-toolbar svg,
.apexcharts-area-series .apexcharts-series-markers .apexcharts-marker.no-pointer-events,
.apexcharts-line-series .apexcharts-series-markers .apexcharts-marker.no-pointer-events,
.apexcharts-radar-series path,
.apexcharts-radar-series polygon {
    pointer-events: none;
}


/* markers */

.apexcharts-marker {
    transition: 0.15s ease all;
}

@keyframes opaque {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Resize generated styles */

@keyframes resizeanim {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

.resize-triggers {
    animation: 1ms resizeanim;
    visibility: hidden;
    opacity: 0;
}

.resize-triggers,
.resize-triggers > div,
.contract-trigger:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.resize-triggers > div {
    background: #eee;
    overflow: auto;
}

.contract-trigger:before {
    width: 200%;
    height: 200%;
}


.pulse_news {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3B76EF;
    cursor: pointer;
    animation: pulse_news 2s infinite;
    margin-left: 10px;
}

.pulse_news:hover {
    animation: none;
}

@-webkit-keyframes pulse_news {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgb(59 118 239 / 73%);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.6);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    }
}

@keyframes pulse_news {
    0% {
        -moz-box-shadow: 0 0 0 0 rgb(59 118 239 / 73%);
        box-shadow: 0 0 0 0 rgb(59 118 239 / 73%);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.6);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.6);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    }
}

.logo-img {
    margin: 35px 12px 21px 26px;
}

.logo-img img {
    max-width: 210px;
}

.navbar .navbar-nav .nav-item {
    margin-bottom: 8px;
}

.navbar .navbar-nav .nav-link {
    padding: 16px 21px !important;
    font-weight: 900;
    font-size: 18px;
    line-height: 100%;
    border-radius: 0 !important;
    margin: 0 !important;
}

.profile-img {
    max-width: 269px;
    width: 100%;
    height: 269px;
    background: radial-gradient(50% 50% at 50% 50%, #303242 0%, #14151B 100%), #14151B;
    border-radius: 555px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.profile-img img {
    position: absolute;
    right: -8px;
    bottom: 0;
}

.profile-name {
    font-weight: 900;
    font-size: 22px;
    line-height: 100%;
    color: #14151B;
}

.profile-name-margin {
    margin: 25px 0;
}

.profile-info__list {
    font-family: 'Cera Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

}

.profile-info__list-2 {
    max-height: 86px;
    overflow-y: auto;
    padding-right: 6px;
    margin-bottom: 16px;
}

.profile-info__list-2::-webkit-scrollbar {
    width: 4px !important;
    margin-right: 20px;
}

.profile-info__list-2::-webkit-scrollbar-track {
    background: rgba(20, 21, 27, 0.2) !important;
}

.profile-info__list-2::-webkit-scrollbar-thumb {
    background: #14151B !important;
}

.profile-info__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px 12px;
    margin-bottom: 12px;
    position: relative;
}

.profile-info__item-big {
    padding: 0 0 6px;
}

.profile-info__item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #14151B;
    opacity: 0.1;
}

.profile-info__left {
    display: flex;
    align-items: center;
    gap: 11px;
    font-weight: 700;
    color: #14151B;
}

.profile-info__right {
    color: #14151B;
    opacity: 0.8;
    word-wrap: break-word;
    width: 100%;
    max-width: 60%;
    text-align: right;
}

.profile-info__item-big .profile-info__left {
    font-weight: 700;
    color: #14151B;
    gap: 25px;
}

.profile-info__item-big .profile-info__right {
    font-weight: 400;
    color: #14151B;
    opacity: 1;
}


.title {
    line-height: 100%;
    font-weight: 900;
    font-size: 48px;
}

@media screen and (max-width: 1300px) {
    .title {
        font-size: 42px;
    }
}

@media screen and (max-width: 1023px) {
    .title {
        font-size: 36px;
    }
}

@media screen and (max-width: 550px) {
    .title {
        font-size: 26px;
    }
}

.title.title-big {
    font-size: 169px;
}

@media screen and (max-width: 1300px) {
    .title.title-big {
        font-size: 162px;
    }
}

@media screen and (max-width: 1023px) {
    .title.title-big {
        font-size: 119px;
    }
}

@media screen and (max-width: 550px) {
    .title.title-big {
        font-size: 53px;
    }
}

.title.title-medium {
    font-size: 58px;
}

@media screen and (max-width: 1300px) {
    .title.title-medium {
        font-size: 42px;
    }
}

@media screen and (max-width: 1023px) {
    .title.title-medium {
        font-size: 36px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 550px) {
    .title.title-medium {
        font-size: 22px;
    }
}

.title.title-small {
    font-size: 22px;
    padding-bottom: 19px;
    margin-bottom: 16px;
}

.title.title-small-1 {
    font-weight: 800;
    font-size: 18px;
    padding-bottom: 19px;
    margin-bottom: 16px;
}

.title.title-small-2 {
    font-weight: 800;
    font-size: 16px;
    padding-bottom: 19px;
    margin-bottom: 16px;
}

@media screen and (max-width: 550px) {
    .title.title-small-1 {
        font-size: 14px;
        padding-bottom: 13px;
        margin-bottom: 14px;
    }
}

.title.sub-title {
    font-size: 32px;
}

@media screen and (max-width: 1023px) {
    .title.sub-title {
        font-size: 26px;
    }
}

@media screen and (max-width: 550px) {
    .title.sub-title {
        font-size: 18px;
    }
}

.title.title-center {
    text-align: center;
}

.title-line {
    position: relative;
}

.title-line::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 4px;
    left: 0;
    bottom: 0;
    background: #FCD535;
}

@media screen and (max-width: 550px) {
    .title-line::before {
        width: 26px;
        height: 3px;
    }
}

.title-line.title-center::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.title-line.title-line__white::before {
    background: #FFFFFF;
}

.title-line.title-line__dark::before {
    background: #14151B;
}

.btn {

}

.btn-main-dark {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    gap: 10px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #14151B;
    border: 1px solid #14151B;
    padding: 17px;
    /*white-space: break-spaces;*/
}

.btn-copy {
    padding: 16px 36px;
}

.btn-main {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 130%;
    color: #14151B;
    border-radius: 0;
}

.btn-main-dark:hover {
    background: #0d0e11;
    border-color: #0d0e11;
    color: #FFFFFF;
}

.btn-big {
    height: 70px;
}

.btn-yellow:disabled,
.btn-yellow {
    background: #FFDC40;
}

.btn-yellow:hover {
    background: #fdda24;
    color: #14151B;
}

.btn-border-grey {
    background-color: transparent;
    border: 2px solid rgba(44, 46, 60, 0.15);
}

.btn-border-grey:hover {
    background-color: rgba(44, 46, 60, 0.15);
    color: #14151B;
}

.reset-search:hover {
    text-decoration: none;
}

.input-main-group input {
    font-family: 'Cera Pro', sans-serif;
    padding: 16px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #000000;
    border: 1px solid #fff;
    border-radius: 0 !important;
}

form {
    margin-bottom: 8px;
}

.alert-main-error {
    font-family: 'Montserrat', sans-serif;
    background: #FFDC40;
    border-radius: 8px;
    padding: 27px 40px 24px;
    position: relative;
    font-weight: 900;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    overflow: hidden;
    color: #14151B;
    display: flex;
    align-items: center;
    margin-top: 14px;
    gap: 32px;
    flex-direction: row;
}

.alert-main-error svg {
    min-width: 40px;
}

.alert-main-error::before {
    content: '';
    position: absolute;
    height: 7px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-image: url(../images/bg-alert.svg);
}

.card-main {
    display: flex;
    justify-content: center;
    height: 137px;
    background: #FFFFFF;
    box-shadow: 0px 0px 80px rgba(44, 46, 60, 0.15);
    border-radius: 8px;
    padding: 0 48px;
}

.card-white {
    background: #FFFFFF;
    border-radius: 8px;
}

.card-main__title {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #14151B;
    opacity: 0.8;
}

.card-main__price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 26px;
    line-height: 100%;
}

.bg-border-yellow {
    border: 2px solid #FFDC40;
    border-radius: 14px;
    color: #14151B;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 100%;
    padding: 20px 10px;
    transition: 0.3s;
    cursor: pointer;
    width: 58px;
    height: 58px;
}

.card-grey {
    background: #F3F3F3;
    border-radius: 8px;
}

.card-statistic {
    padding: 30px;
}

.card-statistic__price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 22px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #14151B;
}

.card-statistic__price-min {
    font-size: 14px;
    line-height: 100%;
    opacity: 0.4;
}

.text-yellow {
    color: #FFDC40;
}

.card-statistic__list {
    margin: 13px 0 0;
    max-width: 100%;
    width: 100%;
}

.card-statistic__item {
    display: flex;
    align-items: center;
    gap: 13px;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #14151B;
    margin-bottom: 12px;
}

.card-statistic__item:nth-last-child(1) {
    margin-bottom: 0;
}

.card-statistic__left {
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.7;
    font-weight: 700;
    max-width: 83px;
    width: 100%;
}

.card-statistic__right {
    opacity: 0.7;
}

.card-tokens {
    padding: 34px 38px;
}

.img_plans img {
    border-radius: 8px !important;
}

.d-flex-main {
    display: flex;
    align-items: center;
    gap: 8px;
}

.table-main {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #14151B;
}

.table-main .text-right {
    opacity: 0.8;
    font-weight: 500;
}

.form-input-main,
.form-select-main {
    height: 46px;
    padding: 12px 27px 12px 20px;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #14151B;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    border-radius: 0;
    display: flex;
    align-items: center;
}

.form-select-main {
    background-image: url('../images/arrow.svg');
}

.form-input-main__big,
.form-select-main__big {
    height: 78px;
}

.form-input-main__big {
    padding: 12px 45px;
}

.form-select-main__big {
    padding: 12px 63px 12px 45px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    background-size: 45px 12px;
}

textarea.form-control.form-textarea-main__big {
    width: 100%;
    min-height: 160px;
    background: #FFFFFF;
    padding: 26px 44px;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #14151B;
    resize: none;
    border-color: #FFFFFF;
    border-radius: 0;
}

/*.choices__list {*/
/*    background: #F2F2F2;*/
/*    border-color: #F2F2F2;*/
/*}*/
.table-white {
    background-color: #fff;
}

.form-label {
    font-family: 'Cera Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #14151B;
    margin-bottom: 16px;
}

.main-empty {
    min-height: 221px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 32px;
}

.main-empty__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    color: #14151B;
    opacity: 0.4;
}

.form-check-label {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #14151B;
}

.switch-container {
    margin-right: 20px;
}


.switch-input {
    visibility: hidden;
}

.switch-input + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch-input + label span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.switch-input + label span::before,
.switch-input + label span::after {
    content: '';
    position: absolute;
}

.switch-input + label span::before {
    height: 10px;
    width: 2px;
    background-color: #fff;
    border-radius: 5px;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
}

.switch-input + label span::after {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #455067;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
}

.switch-flat + label {
    padding: 2px;
    min-width: 45px;
    max-width: 45px;
    min-height: 25px;
    background-color: #E2E2EA;
    border-radius: 60px;
    transition: background 0.4s;
}

.switch-flat + label:before,
.switch-flat + label:after {
    display: block;
    position: absolute;
    content: "";
}

.switch-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #E2E2EA;
    border-radius: 60px;
    transition: background 0.4s;
}

.switch-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 18px;
    background-color: #fff;
    border-radius: 52px;
    transition: margin 0.4s, background 0.4s;
}

.switch-flat:checked + label {
    background-color: #1CC789;
}

.switch-flat:checked + label:before {
    margin-left: 21px;
    background-color: #1CC789;
}

.switch-flat:checked + label:after {
    margin-left: 20px;
}

.align-center {
    align-items: center;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;
}

.statistic-item {
    max-width: calc(50% - 15px);
    width: 100%;
}

.statistics-1 {
    gap: 0 15px;

}

.statistics-1 .statistic-item {
    max-width: calc(33% - 7.5px);
}

.card-statistic__status {
    margin-top: 15px;
    font-weight: 900;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: rgba(44, 46, 60, 0.3);
}

.card-statistic__status.Waiting {
    color: rgba(44, 46, 60, 0.3);
}

.card-statistic__status.Rejected {
    color: #FF1515;
    opacity: 1;
}

.card-statistic__status.Completed,
.card-statistic__status.Paid {
    color: rgba(14, 177, 89, 0.9);
}

@media screen and (max-width: 1540px) {
    .card-main {
        padding: 20px 24px;
        height: auto;
    }

    .card-statistic__price {
        display: flex;
        align-items: center;
        gap: 14px;
        font-size: 18px;
    }

    .card-statistic__price-min {
        font-size: 12px;
        display: block;
        margin-top: 3px;
    }

    .card-statistic__price .text-yellow {
        color: #14151B !important;
    }

    .card-statistic__item {
        font-size: 14px;
    }

    .card-statistic__left {
        max-width: 75px;
    }

    .alert-main-error {
        font-size: 14px;
        padding: 25px 28px 28px;
        gap: 14px;
    }

    .profile-img {
        max-width: 178px;
        height: 178px;
        margin: 0;
    }

    .profile-img__inner {
        display: flex;
        align-items: center;
        gap: 40px;
        margin: 21px 0;
    }

    .statistics {
        gap: 10px;
        margin-top: 10px;
    }

    .card-statistic {
        padding: 10px 24px 22px;
        max-width: calc(50% - 5px);
        margin: 0;
    }

    .form-select-main__big {
        height: 56px;
        padding: 12px 48px 12px 24px;
    }

    .form-input-main__big {
        height: 56px;
        padding: 12px 24px;
    }

    .btn-big {
        height: 56px;
    }

    .title.title-small-2 {
        font-size: 14px;
    }

    .table-main {
        font-size: 14px;
    }

    .table-main svg {
        width: 18px;
        height: 18px;
    }

    .btn-main {
        font-size: 14px;
    }

    .form-input-main, .form-select-main {
        font-size: 14px;
    }

    .card-statistic__status {
        font-size: 14px;
    }

    .statistics-1 .statistic-item {
        max-width: calc(50% - 5px);
    }

    .bg-border-yellow {
        padding: 17px 9px;
        font-size: 14px;
        width: 52px;
        height: 52px;
    }
}

@media screen and (max-width: 1400px) {
    .person-info {
        max-width: 100% !important;
    }

    /*.card-statistic__item{*/
    /*    flex-direction: row;*/
    /*}*/
}

@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 991px) {
    .form-label {
        margin-bottom: 11px;
        font-size: 14px;
    }


    .card-tokens {
        padding: 24px 28px;
    }

    .form-footer {
        margin-top: 27px;
    }

    .cardfon {
        margin: 0;
        padding: 0;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 100%;
        padding-right: 33px;
        padding-left: 33px;
        margin-top: 19px;
    }

    .main-empty {
        min-height: 141px;
    }

    .main-empty__title {
        font-size: 18px;
    }


    .form-check-label {
        font-size: 14px;
    }

    .navbar-toggler__custom {
        position: absolute;
        top: 28px;
        right: 40px;
        width: 42px;
        height: 42px;
    }

    .logo-img {
        margin: 17px 26px 21px 38px;
    }

    .logo-img img {
        max-width: 291px;
    }

    .navbar-toggler-icon {
        width: 42px;
        height: 4px;
    }

    .navbar-toggler-icon::before {
        top: -12px;
    }

    .navbar-toggler-icon::after {
        bottom: -12px;
    }

    .nav-link {
        justify-content: center !important;
    }

    .nav-item.active .nav-link {
        background-color: #FFDC40;
        color: #000000 !important;
    }

    .navbar-collapse.collapse {
        overflow-x: hidden;
        height: 100vh;
    }

    .navbar-dark {
        background: #14151B;
    }
}

body {
    overflow-x: hidden;
}


@media screen and (max-width: 575px) {

    .logo-img {
        margin: 15px 18px 14px 18px;
    }

    .logo-img img {
        max-width: 210px;
    }

    .navbar-toggler__custom {
        top: 22px;
        right: 18px;
        width: 32px;
        height: 32px;
    }

    .navbar-toggler-icon {
        width: 32px;
        height: 3px;
    }

    .navbar-toggler-icon::before {
        top: -10px;
    }

    .navbar-toggler-icon::after {
        bottom: -10px;
    }


    .card-statistic-mobile-1 img {
        max-width: 36px !important;
    }

    .profile-img__inner {
        flex-direction: column;
        gap: 0;
        margin: 0;
    }

    .statistic-item {
        max-width: 100%;
    }

    .form-label {
        margin-bottom: 8px;
    }

    .form-select-main__big {
        height: 46px;
    }

    .form-input-main__big {
        height: 46px;
    }

    .card-tokens {
        padding: 13px 10px;
    }

    .form-footer {
        margin-top: 15px;
    }

    .title.title-small {
        font-size: 16px;
        padding-bottom: 12px;
        margin-bottom: 2px;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        padding-right: 4px;
        padding-left: 4px;
        margin-top: 10px;
    }

    .main-empty {
        min-height: 104px;
        margin-top: 4px;
    }

    .main-empty__title {
        font-size: 12px;
    }

    .btn-big {
        height: 52px;
    }

    .profile-info__list {
        font-size: 12px;
    }

    .profile-info__item {
        padding: 0 0 6px;
        margin-bottom: 6px;
    }

    .profile-img {
        max-width: 173px;
        height: 173px;
    }

    .profile-name {
        font-size: 16px;
    }

    .profile-name-margin {
        margin: 15px 0 10px;
    }

    .card-statistic__price {
        font-size: 16px;
    }

    .card-statistic__price-min {
        font-size: 10px;
    }

    .card-statistic__item {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .card-statistic__left {
        max-width: 65px;
    }


    .card-statistic {
        padding: 19px;
    }

    .alert-main-error {
        font-size: 12px;
        padding: 21px 29px 19px;
        margin-top: 10px;
        gap: 15px;
    }

    .alert-main-error::before {
        height: 5px;
    }

    .alert-main-error svg {
        min-width: 29px;
    }

    .input-main-group input {
        font-size: 12px;
        padding: 14px;
    }

    .btn-main-dark {
        font-size: 12px;
        padding: 14px;
    }

    .profile-info__item-big svg {
        width: 6px;
        height: 6px;
    }

    .profile-info__item-big .profile-info__left {
        gap: 10px;
    }

    .card-main {
        padding: 15px 26px 14px 30px;
        border-radius: 8px;
    }

    .card-main__title {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .card-main__price {
        font-size: 18px;
    }

    .bg-border-yellow {
        font-weight: 900;
        font-size: 12px;
        padding: 17px 9px;
        width: 46px;
        height: 46px;
    }

    .card-grey {
        margin: 13px 8px;
    }

    .card-statistic__item svg {
        width: 6px;
        height: 6px;
    }

    .card-statistic__list {
        margin: 6px 0 0;
    }

    .card-statistic {
        margin-top: 0;
        margin-bottom: 12px;
    }

    .card-statistic:nth-child(1) {
        margin-top: 12px;
    }

    .statistics {
        gap: 0;
        margin-top: 0;
    }

    .title.title-small-2 {
        font-size: 12px;
    }

    .table-main {
        font-size: 12px;
    }

    .table-main svg {
        width: 18px;
        height: 18px;
    }

    .btn-main {
        font-size: 12px;
    }

    .form-input-main, .form-select-main {
        font-size: 12px;
    }

    .card-statistic__status {
        font-size: 12px;
        margin-top: 10px;
    }

    .statistics-1 .statistic-item {
        max-width: 100%;
    }

    .card-statistic__price {
        margin-bottom: 11px;
    }

    .card-statistic__status,
    .card-statistic__list {
        padding-left: 15px;
    }


}


.table-new tr {
    border-bottom: 8px solid #F3F3F3;
    background-color: #fff;
}

.table-new th {
    vertical-align: middle;
    white-space: nowrap;
    padding: 4px;
}

.table-new .btn {
    height: 56px;
    font-size: 14px;
    max-width: 141px;
    width: 100%;
}

.table-btn-th {
    padding: 2px 0;
    text-align: right;
}

.table-btn-th .btn {
    margin: 12px 12px 12px 0;
}

.table-new {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #14151B;
}

.table-new-bold tbody tr {
    font-weight: 400;
    border-bottom: 2px solid rgba(44, 46, 60, 0.1);
}

.table-new span {
    font-size: 16px;
    line-height: 130%;
    opacity: 0.5;
}

.table-new img {
    margin-left: 16px;
    margin-right: 0;
    max-width: 40px;
    border-radius: 50%;
}

@media screen and (max-width: 1400px) {
    .table-new {
        font-size: 16px;
    }

    .table-new span {
        font-size: 14px;
    }

    .table-new img {
        margin-left: 0;
    }

    .table-new th {
        padding: 4px 20px;
    }

    .table-new .btn {
        height: 50px;
        font-size: 12px;
        max-width: 121px;
    }
}

@media screen and (max-width: 575px) {
    .table-new {
        font-size: 12px;
    }

    .table-new span {
        font-size: 10px;
    }

    .table-new img {
        margin-left: 0;
        max-width: 30px;
    }

    .table-new tr {
        border-bottom: 6px solid #F3F3F3;
    }

    .table-new th {
        padding: 4px 10px;
    }

    .table-new .btn {
        height: 40px;
        font-size: 10px;
        max-width: 100px;
    }
}

.btn-yellow.btn-yellow-disabled {
    background: #F3F3F3;
    border-color: #F3F3F3;
    color: rgba(20, 21, 27, 0.3);
}


.btn.loading {
    gap: 10px;
}

.statistic-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 11px;
    margin-top: 30px;
}


.statistic-btns {
    display: flex;
    gap: 11px;
    margin-top: 30px;
}

@media screen and (max-width: 575px) {
    .statistic-btns {
        margin-top: 20px;
    }
}

.statistic-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #14151B;
    width: 100%;
    height: 50px;
    border: 2px solid #FFDC40;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;
}

.statistic-btn:hover {
    background-color: #FFDC40;
    text-decoration: none;
    color: #14151B;
}

.statistic-btn__yellow {
    background-color: #FFDC40;
    border-radius: 6px;
}

@media screen and (max-width: 1400px) {
    .statistic-btn {
        font-size: 14px;
        height: 42px;
    }
}

@media screen and (max-width: 575px) {
    .statistic-btn {
        height: 36px;
        font-size: 12px;
    }

}

.overflow-hidden {
    overflow-y: hidden;
}


.input-search {
    position: relative;
    height: 52px;
    max-width: 375px;
    width: 100%;
    padding: 15px 20px;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.input-search__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-search input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 6px;
    border: none;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #14151B;
    padding: 0 44px;
}

.input-search::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-size: cover;
    left: 10px;
}

@media screen and (max-width: 900px) {
    .input-search {
        height: 40px;
        max-width: 207px;
    }

    .input-search input {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .input-search {
        height: 40px;
        max-width: 100%;
    }

    .input-search__head {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .input-search input {
        font-size: 12px;
        padding: 0 36px;
    }

    .input-search::after {
        width: 20px;
        height: 20px;
    }
}
input{
    outline: none;
}