
.modal {
    color: #14151B;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: rgba(44, 46, 60, 0.5);
    overflow: auto;
    box-sizing: border-box; }
.modal .btn {
    font-family: "Montserrat", sans-serif;
    height: 67px;
    font-weight: 900;
    font-size: 18px;
    line-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 16px;
    border: 2px solid #FCD535;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0; }
@media screen and (max-width: 600px) {
    .modal .btn {
        font-size: 14px; } }
.modal .btn.btn-primary {
    color: #1A1A1D;
    background: #FCD535; }
@media screen and (min-width: 601px) {
    .modal .btn:hover {
        background: #ecbe26;
        border-color: #ecbe26;
        color: #1A1A1D; } }
.modal .btn.btn-grey {
    background: #444655;
    border-color: #444655; }
.modal .btn.btn-grey:hover {
    background-color: #383a48;
    border-color: #383a48; }
.modal .btn.btn-dashed {
    position: relative;
    border-style: none;
    background-image: url("../images/btn-bg.svg");
    width: 54px;
    height: 54px; }
.modal .btn.btn-dashed path {
    transition: 0.3s; }
.modal .btn.btn-dashed:hover {
    background: #FCD535;
    border-color: #FCD535;
    border-style: solid; }
.modal .btn.btn-dashed:hover path {
    fill: #1A1A1D; }
@media screen and (max-width: 600px) {
    .modal .btn.btn-dashed {
        background-image: none !important;
        border-style: dashed; } }
.modal .btn.btn-dashed .btn-hidden {
    display: none; }
@media screen and (max-width: 600px) {
    .modal .btn.btn-dashed .btn-hidden {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        font-size: 14px; } }
.modal .btn.btn-disabled {
    color: #14151B;
    opacity: 0.5; }
.modal-inner {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center; }
.modal__container {
    margin: auto auto;
    max-width: 777px;
    width: calc(100% - 80px);
    max-height: 95vh;
    overflow-y: auto;
    background: #fff;
    padding: 30px 60px;
    position: relative; }
@media screen and (max-width: 600px) {
    .modal__container {
        width: calc(100% - 36px);
        padding: 18px; } }
.modal__container .close {
    z-index: 1;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #D8D9DA;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    top: 16px;
    right: 16px; }
@media screen and (max-width: 900px) {
    .modal__container .close {
        width: 40px;
        height: 40px; }
    .modal__container .close svg {
        width: 10px;
        height: 10px; } }
@media screen and (max-width: 600px) {
    .modal__container .close {
        width: 28px;
        height: 28px;
        top: 8px;
        right: 8px; }
    .modal__container .close svg {
        width: 7px;
        height: 7px; } }
.modal__title {
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 24px;
    max-width: 629px;
    text-transform: uppercase; }
@media screen and (max-width: 900px) {
    .modal__title {
        font-size: 22px; } }
@media screen and (max-width: 600px) {
    .modal__title {
        font-size: 16px;
        padding-bottom: 15px;
        margin-bottom: 20px; } }
.modal__title-big {
    font-size: 28px;
    padding-bottom: 30px;
    margin-bottom: 30px; }
@media screen and (max-width: 900px) {
    .modal__title-big {
        font-size: 26px;
        margin-bottom: 20px; } }
@media screen and (max-width: 600px) {
    .modal__title-big {
        font-size: 18px;
        padding-bottom: 15px;
        margin-bottom: 10px;
        max-width: 90%; } }
.modal__body-list {
    margin: 30px 0; }
@media screen and (max-width: 600px) {
    .modal__body-list {
        margin: 20px 0; } }
.modal__body-item {
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #14151B;
    padding-bottom: 15px;
    margin-bottom: 26px;
    border-bottom: 1px solid rgba(20, 21, 27, 0.1); }
@media screen and (max-width: 900px) {
    .modal__body-item {
        font-size: 14px;
        padding-bottom: 8px;
        margin-bottom: 20px; } }
@media screen and (max-width: 600px) {
    .modal__body-item {
        font-size: 12px;
        gap: 3px;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 10px;
        margin-bottom: 14px; } }
.modal__body-left {
    max-width: 190px;
    width: 100%; }
@media screen and (max-width: 900px) {
    p {
        font-size: 14px;
        line-height: 100%;
    }
    .modal__body-left {
        max-width: 148px; } }
.modal__body-right {
    font-weight: 500;
    color: rgba(20, 21, 27, 0.8);
    word-wrap: break-word; }
@media screen and (max-width: 600px) {
    p {
        font-size: 12px;
    }
    .modal__body-right{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;

    }
    .modal__body-right.address.modal_copy_button {
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

    } }
.modal__body-right__img {
    max-width: 192px;
    width: 100%;
    border: 4px solid #FFDC40;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px; }
@media screen and (max-width: 900px) {
    .modal__body-right__img {
        max-width: 144px; } }
@media screen and (max-width: 600px) {
    .modal__body-right__img {
        max-width: 104px;
        max-height: 104px;
        margin-top: -15px; } }
.modal__body-right__img img {
    width: 100%;
    height: 100%; }
.modal-more {
    text-align: center;
    margin-top: 35px;
    font-size: 18px;
    text-transform: uppercase; }
@media screen and (max-width: 900px) {
    .modal-more {
        font-size: 14px;
        margin-top: 25px; } }
@media screen and (max-width: 600px) {
    .modal-more {
        font-size: 12px;
        margin-top: 23px; } }
.modal-more a {
    color: #14151B;
    position: relative;
    padding-bottom: 6px;
    transition: 0.3s;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    text-transform: inherit;
    cursor: pointer;
    white-space: normal;
    display: inline-block; }
.modal-more a:hover {
    color: #FCD535; }
@media screen and (max-width: 600px) {
    .modal-more a {
        padding-bottom: 3px; } }
.modal-more a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #FCD535; }
@media screen and (max-width: 600px) {
    .modal-more a::before {
        height: 3px; } }
.modal-desc {
    max-width: 500px;
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #14151B;
    margin-bottom: 35px; }
.modal-desc a {
    color: #DBB000;
    text-decoration: underline; }
@media screen and (max-width: 900px) {
    .modal-desc {
        font-size: 14px;
        max-width: 100%; } }
@media screen and (max-width: 600px) {
    .modal-desc {
        margin-bottom: 20px; } }
.modal-desc__more {
    background: #F3F3F3;
    padding: 20px 40px 20px 60px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    margin: 70px 0 40px; }
.modal-desc__more::before {
    content: '';
    position: absolute;
    height: calc(100% - 40px);
    width: 6px;
    left: 30px;
    background: #FFDC40; }
.modal-desc__more a {
    font-weight: 700;
    color: #DBB000;
    text-decoration: underline; }
@media screen and (max-width: 900px) {
    .modal-desc__more {
        font-size: 14px;
        margin: 30px 0;
        padding: 14px 34px 14px 42px; }
    .modal-desc__more::before {
        height: calc(100% - 28px);
        left: 20px; } }
@media screen and (max-width: 500px) {
    .modal-desc__more {
        font-size: 14px;
        margin: 16px 0;
        padding: 10px 10px 10px 32px; }
    .modal-desc__more::before {
        height: calc(100% - 20px);
        left: 14px;
        width: 4px; } }
.modal__success {
    padding-bottom: 21px;
    padding-top: 30px; }
.modal__success img{
    border-radius: 50%;
}
@media screen and (max-width: 600px) {
    .modal__success {
        padding-top: 4px;
        padding-bottom: 8px; }
    .modal__success svg {
        width: 46px;
        height: 46px; } }
@media screen and (max-width: 600px) {
    .modal__btn {
        max-height: 52px; } }
.modal__btn-bottom {
    margin-bottom: 50px; }
@media screen and (max-width: 900px) {
    .modal__btn-bottom {
        margin-bottom: 35px; } }
@media screen and (max-width: 600px) {
    .modal__btn-bottom {
        margin-bottom: 15px; } }
@media screen and (max-width: 700px) {
    .modal-coin .modal__container {
        min-height: 75vh; } }
@media screen and (max-width: 900px) {
    .modal-coin .modal__success img, .modal-coin .modal__success svg {
        width: 40px;
        height: 40px; } }
@media screen and (max-width: 600px) {
    .modal-coin .modal__success img, .modal-coin .modal__success svg {
        width: 32px;
        height: 32px; } }
.modal__form-coin {
    margin-top: 32px;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: rgba(20, 21, 27, 0.4); }
@media screen and (max-width: 900px) {
    .modal__form-coin {
        font-size: 14px;
        margin-top: 26px; } }
.modal__form-item {
    margin-top: 40px; }
@media screen and (max-width: 900px) {
    .modal__form-item {
        margin-top: 20px; } }
.modal__form-item__inner {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 70px;
    background: #F2F2F2;
    padding-left: 16px;
    padding-right: 111px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 22px;
    line-height: 100%;
    color: #14151B;
    border:none;
    margin-bottom: 28px; }
@media screen and (max-width: 900px) {
    .modal__form-item__inner {
        margin-bottom: 14px; } }
.modal__form-label {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #14151B;
    margin-bottom: 36px; }
@media screen and (max-width: 900px) {
    .modal__form-label {
        font-size: 14px; } }
@media screen and (max-width: 600px) {
    .modal__form-label {
        display: none; } }
.modal__form-inner input {
    width: 100%;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 22px;
    line-height: 100%;
    color: #14151B;
    outline: none;
border:none;}
@media screen and (max-width: 900px) {
    .modal__form-inner input {
        font-size: 18px;
        }
    .modal__form-item__inner{
        height: 66px;
    }}
@media screen and (max-width: 600px) {
    .modal__form-inner input{
        font-size: 14px;
        }
    .modal__form-item__inner{
        height: 52px;
        padding-right: 48px;
        padding-left: 12px;
    }
}
.modal__form-inner__price {
    font-weight: 800;
    font-size: 16px;
    line-height: 100%;
    color: rgba(20, 21, 27, 0.3);
    position: absolute;
    right: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
@media screen and (max-width: 900px) {
    .modal__form-inner__price {
        font-size: 14px;
        right: 30px; } }
@media screen and (max-width: 600px) {
    .modal__form-inner__price {
        position: absolute;
        right: unset;
        top: unset;
        -webkit-transform: unset;
        transform: unset;
        font-size: 12px;
        margin: 12px 0 22px;
        bottom: -44px;
        left: 0;} }
.modal__form-inner__left {
    padding-left: 17px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 13px;  }
@media screen and (max-width: 600px) {
    .modal__form-inner__left {
        -webkit-transform: unset;
        transform: unset;
        top: 20px;
        left: 16px; } }
.modal__form-inner-svg {
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 2px 2px 14px rgba(44, 46, 60, 0.1); }
@media screen and (max-width: 600px) {
    .modal__form-inner-svg {
        width: 28px;
        height: 28px;
        position: absolute;
        right: 16PX; } }
.modal__form-inner-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    color: #14151B;
    opacity: 0.3; }
@media screen and (max-width: 900px) {
    .modal__form-inner-text {
        font-size: 18px; } }
@media screen and (max-width: 600px) {
    .modal__form-inner-text {
        font-size: 14px; } }
.modal .modal__title {
    display: -ms-flexbox;
    display: flex;
    gap: 10px; }
.modal .show-coins__select {
    display: block;
    position: absolute;
    z-index: 9;
    top: 30px;
    left: 0;
    min-width: 404px;
    max-width: 404px;
    width: 100%;
    height: 312px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 80px rgba(44, 46, 60, 0.15); }
@media screen and (max-width: 700px) {
    .modal .show-coins__select {
        min-width: 248px;
        max-width: 248px;
        width: 100%;
        height: 248px;
        padding: 20px 14px; } }
.modal .show-coins__select .show {
    min-width: 375px; }
.modal .show-coins__select select {
    min-width: 347px; }
@media screen and (max-width: 700px) {
    .modal .show-coins__select select {
        min-width: 200px; } }
.modal .show-coins__select .select2-selection {
    height: 50px;
    position: relative; }
@media screen and (max-width: 700px) {
    .modal .show-coins__select .select2-selection {
        height: 40px; } }
.modal .show-coins__select .select2-container--default .select2-selection--multiple {
    border: 0; }
.modal .show-coins__select .select2-search.select2-search--inline {
    background: #F6F6F6;
    height: 50px;
    border-radius: 6px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0; }
@media screen and (max-width: 700px) {
    .modal .show-coins__select .select2-search.select2-search--inline {
        height: 40px; } }
.modal .show-coins__select .select2-container--default .select2-search--inline .select2-search__field {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #14151B;
    padding-left: 35px; }
.modal .show-coins__select .select2-selection__rendered {
    display: none; }
.modal .show-coins {
    position: relative; }
@media screen and (max-width: 700px) {
    .modal .show-coins {
        position: unset; } }
.modal .show-coins__inner {
    transition: 0.3s;
    cursor: pointer; }
.modal .show-coins__inner svg {
    transition: 0.3s; }
.modal .show-coins__inner.active {
    opacity: 0.4; }
.modal .show-coins__inner.active svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.select2-container {
    display: block;
    min-width: 344px; }
@media screen and (max-width: 700px) {
    .select2-container {
        min-width: 200px; } }

.select2-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 14px; }
.select2-item img {
    border-radius: 50%;
    object-fit: cover;
    max-width: 36px;
    width: 100%;
    height: 36px; }
@media screen and (max-width: 900px) {
    .select2-item img {
        max-width: 30px;
        height: 30px; } }

.select2-dropdown.select2-dropdown--below {
    border: 0; }

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
    width: 4px;
    margin-right: 20px; }

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
    background: #E3E3E3; }

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
    background: #2C2E3C; }

.select2-results__option--selectable {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #14151B !important;
    background-color: transparent !important;
    padding: 12px 0;
    border-bottom: 1px solid rgba(20, 21, 27, 0.4); }
@media screen and (max-width: 900px) {
    .modal .show-coins__select .select2-container--default .select2-search--inline .select2-search__field{
        font-size: 14px;
    }
    .select2-results__option--selectable {
        font-size: 14px; } }
@media screen and (max-width: 600px) {
    .select2-results__option--selectable {
        font-size: 12px; } }
.select2-search {
    position: relative;

}
.select2-search:before{
    position: absolute;
    content: '';
    width: 26px;
    height: 26px;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-size: cover;
    left: 10px;
}
@media screen and (max-width: 600px) {
    .modal .show-coins__select .select2-container--default .select2-search--inline .select2-search__field{
        font-size: 12px;
    }
    .select2-search:before{
        width: 20px;
        height: 20px;
        left: 10px;
    }
}
.select2-dropdown{
    z-index: 99999;
}